header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px;
    width: 100%;
    font-family: 'gilroy';

}


nav>.menu ul  {
    display: flex;
    list-style: none;
    gap: 40px;
    color: black;
    text-decoration: none;


}

nav>.menu ul li a {
    text-decoration: none;
    color: black;

}

nav>.menu ul li a:hover {
    color: var(--color-primary)
}


nav>.menu ul li:first-child {
    color: var(--color-primary)
}

.action-bar {
    display: flex;
    gap: 24px;
}

.action-bar>.icons-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    gap: 16px;

}

.action-bar button {
    padding: 16px;
    width: 105px;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    background-color: var(--color-white);
    color: var(--color-primary);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'gilroy-bold';
}

main>.content-deliver-healthy {
    display: flex;
    /* border: 2px solid; */
    flex-direction: column;
    gap: 32px
}

.content-deliver-healthy>.deliver-healthy-button {
    display: flex;
    gap: 24px;
}

main>.content-deliver-healthy h1 {
    /* border: 2px solid black; */
    width: 563px;
    font-size: 60px;
    font-weight: 60;
}


main>.content-deliver-healthy p {
    display: flex;
    text-align: start;
    width: 503px;
}


.content-deliver-healthy h1 span {
    /* border: 2px solid black; */
    color: var(--color-primary);
}

main>div img {
    display: flex;
    padding: 10px;
    align-items: center;
    /* border: 2px solid black; */
    width: 500px;
}


.deliver-healthy-buttonn>button:hover {}

/* --------------------------------------------- */
.shopping {
    /* border: 2px solid black; */
    margin-top: 102px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 7px;
    background-color: #FAFAFA;
    

}


.shopping h2 {
    width: 100%;
    text-align: center;
    font-family: 'gilroy-medium';
}


.shopping p {
    width: 100%;
    text-align: center;
}

.shopping-flow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.shopping-flow>.card-shopping {
    display: block;
    padding: 8px;
}

.card-shopping>img {
    width: 216px;
}

.card-shopping>p {
    text-align: center;
    width: 275px;
}

.card-shopping>.count {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.count h2 {
    gap: 100px
}


/* ------------------------------------- */
.special-dishes h2 {
    margin-top: 102px;
    text-align: center;
    width: 100%;
    font-family: 'gilroy-medium';
}

.special-dishes>.group-cards-dishes {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.dishes-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 25%;
}


.dishes-card button {
    width: 100%;
}

.dishes-card img {
    width: 75%;
}

.dishes-card p {
    display: flex;
    text-align: center;



}

.clients {
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.clients h2{
    font-family: 'gilroy-medium';
}

.clients h2,
p {
    text-align: center;
    width: 75%;
    font-family: 'gilroy'
    
}


.clients>.group-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 21px;
    width: 100%;
}

.group-clients>.card-client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: #FAFAFA;
    width: 25%;
    border-radius: 16px;
    transition: transform 0.3s ease;

}

.card-client:hover {
    transform: translatey(-20px);
}

.card-client img {
    margin: 40px;
    width: 100px;
}

.client-name {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.client-name p {
    text-align: center;
    width: 100%;
    font-size: medium;
    font-size: 20px;
    padding: 10%;
}


.about {
    margin-top: 102px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;


}

.about>.content-about {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.about>.content-about p {
    text-align: start;
}

.about>.content-about h2 {
    text-align: start;
}


.about>.img-about img {
    display: flex;
    margin: 20% 0 0 0;
}



/* ---------------- */

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;


}

.subscribe>h2 {
    text-align: center;
}

.subscribe>p {
    width: 100%;
    margin-top: 8px;
    text-align: center;
}



.subscribe-email {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

}

.subscribe-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 35%;
    padding: 10px;

    border: 2px solid #C1C1C1;
    border-radius: 16px;

}










.subscribe-container>.btn-primary-input {

    padding: 16px;
    width: 120px;
    border: 2px solid var(--color-white);
    border-radius: 8px;
    background-color: var(--color-primary);
    color: var(--color-white);
}


.subscribe-container>.btn-primary-input:hover {
    border: 2px solid;
    cursor: pointer;
    color: var(--color-primary);
    background-color: var(--color-white);
    transition: background-color 0.3s ease;
}



.subscribe-container>input {
    border: none;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: background-color 0.3s;

}



.subscribe-container>input:focus {
    outline: none;
    border: none;
}

footer {
    margin-top: 102px;
    width: 100%;
    background-color: green;
    padding-top: 2%;

}


.content-footer{
    display: flex;
    flex-direction: c;
    margin-left: 10%;

}




.socials-icons {
    display: flex;
    justify-content: start;
    gap: 10px;
}

.container-footer {
    display: flex;
    align-items: start;
    margin-left: 15%;
    gap: 150px;
    text-align: center;
    width: 100%;
}

.footer-list h2{
    color: var( --color-bg-overlay);
    font-size: 14px;
    color: white;
    text-align: start;
}

.footer-list ul {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: start;
    text-decoration: none;
    list-style: none;
    color: var( --color-bg-overlay);
    font-size: 14px;
    font-family: 'gilroy'
}




.copy-right {
    display: flex;
    justify-content: center;

}

.copy-right p {
    padding: 10px;
    margin: 10px;
    border-top: 2px solid var(--color-bg-overlay);
    color: var(--color-bg-overlay);
}

