header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0px;

}

nav>.menu ul {
    display: flex;
    list-style: none;
    gap: 40px;
    color: black;

}

nav>.menu ul li:first-child {
    color: var(--color-primary)
}

.action-bar {
    display: flex;
    gap: 24px;
}

.action-bar>.icons-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    gap: 16px;

}

.action-bar button {
    padding: 16px;
    width: 105px;
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    background-color: var(--color-white);
    color: var(--color-primary);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

main>.content-deliver-healthy {
    display: flex;
    /* border: 2px solid; */
    flex-direction: column;
    width: 563px;
    gap: 32px

}

.content-deliver-healthy> .deliver-healthy-button {
    display: flex;
    gap: 24px;
}

main>.content-deliver-healthy h1 {
    /* border: 2px solid black; */

    width: 563px;
    font-size: 60px;

    font-weight: 60;
}


main>.content-deliver-healthy p {
    display: flex;

    width: 503px;
}


.content-deliver-healthy h1 span {
    /* border: 2px solid black; */
    color: var(--color-primary);
}

main> div {
     /* border: 2px solid black; */
}   


main> div img {
    display: flex;
    padding: 10px;
    align-items: center;
    /* border: 2px solid black; */
    width: 500px;

}